*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  background-color: black;
}

#mainContent {
  color: white;
  width: 100%;
  text-align: center;
}

.gameFlexBox {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
}

.buttonBox {
  width: 40px;
  height: 40px;
  margin: 5px;
}

button:disabled {
  background-color: grey;
}

.winningPosition {
  background-color: aquamarine !important;
}
